<% provide(:title, "Register: Create your virtual pet account today!") %>
<% provide(:keywords, "create, virtual, pet, account, today") %>
<% provide(:description, "Where the user can create their free virtual pet account on Duelingpets.net.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New user</h1>
<%= render 'form', object: "New" %>
<p class="pagetext"><%= link_to 'Back', root_path %></p>
