<% provide(:title, "PM: Create new pms here!") %>
<% provide(:description, "Where new pms are born from the users wild imagination.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New pm</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_path(current_user) %></p>
