<% provide(:title, "Book is currently under repair!") %>
<% provide(:keywords, "book, under, repair") %>
<% provide(:description, "I am sorry to report that the artwork section is currently down. I am working on repairs right now.") %>
<h1 class="pageheader">Book Maintenance Page</h1>
<br>
<p class="pagetext">The book pages are currently under repair due to a recently discovered bug. I appologize for the inconvenience 
and will have this section up and running very shortly. In the meantime feel free to explore the other features of my website and
be sure to have fun while your at it. :)</p>
