<% provide(:title, "Subsheet: Create new subsheets here!") %>
<% provide(:description, "Ways for users to categorize their radios.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New subsheet</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_mainsheet_path(@mainsheet.user, @mainsheet) %></p>
