<% provide(:title, "Maintenancemode: Create new maintenancemodes here!") %>
<% provide(:description, "Where the admin creates the various pages controls.") %>
<h1 class="pagetextheader">New maintenancemode</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', maintenancemodes_path %></p>
