<% provide(:title, "Tcontainer: Create new tcontainers here!") %>
<% provide(:description, "Where new tcontainers are born from the users wild imagination.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New tcontainer</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_forum_path(@forum.user, @forum) %></p>
