<% provide(:title, "Equip is currently under repairs!") %>
<% provide(:keywords, "equip, under, repair") %>
<% provide(:description, "I am sorry to report that the equip section is currently down. I am working on repairs right now.") %>
<h1 class="pageheader">Equip Maintenance Page</h1>
<br>
<p class="pagetext">The equip pages are currently down for repair due to a bug that was found. When these pages are repaired 
this feature will be back up in running very shortly. I appologize for the inconvenience but be sure to try out some of the 
other features of my website while you wait. :)</p>
