<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your chapter <%= @chapter.title %> was not approved.</h1>
    <p>
      The reason that this chapter was denied access onto
      the site was either because the chapter itself was
      empty, or the chapter was found to be inappropriate.
    </p>
    <p>
      If you can revise the chapter that was just sent
      then maybe it will be able to be approved the next
      time around. Its no big deal and the review team
      would be happy to point into the right direction
      for your chapter to be processed.
    </p>
    <p>
      To edit this chapter just follow this link: <%= @url %>.
      Once there just click the edit button to edit your
      chapter.
    </p>
    <p>Your friends the Review Team</p>
  </body>
</html>
