<% provide(:title, "Active: The place that holds all the active users!") %>
<% provide(:description, "A listing of all the active users.") %>
<% provide(:style, ".pagebox{text-align:center;}") %>
<h1 class="pageheader">Active users</h1>
<br>
<div class="pagebox"><%= paginate @onlineusers %></div>
<br>
<div class="pagetext">
   <% @onlineusers.each do |activeuser| %>
      <div class="inner"><%= activeuser.user.vname %>&nbsp;&nbsp;</div>
   <% end %>
</div>
