<% provide(:title, "Reply: Create new replies here!") %>
<% provide(:description, "Where new replies are born from the users wild imagination.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New reply</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_blog_path(@blog.user, @blog) %></p>
