<% provide(:title, "Blacklisteddomain: Edit your blacklisteddomains here!") %>
<% provide(:description, "Allows the admin to edit the domains on the blacklist.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">Editing blacklisteddomain</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', blacklisteddomains_path %></p>
