<% provide(:title, "Artwork: Edit your artwork here!") %>
<% provide(:description, "Allows the users to change the artwork to the best of their abilities.") %>
<h1 class="pagetextheader">Editing artwork</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', subfolder_artwork_path(@subfolder, @artwork) %></p>
