<% provide(:title, "Pet: Edit your pet here!") %>
<% provide(:description, "Allows the users to change their pet to the best of their abilities.") %>
<h1 class="pagetextheader">Editing pet</h1>
<%= render 'form' %>
<div class="pagetext">
<%= link_to 'Show', @pet %> |
<%= link_to 'Back', pets_path %>
</div>
