<% provide(:title, "Mainsheet: Edit your radio here!") %>
<% provide(:description, "Allows the users to edit their radios to the best of their abilities.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">Editing mainsheet</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_mainsheet_path(@mainsheet.user, @mainsheet) %></p>
