<% provide(:title, "Mainsheet: Create new radios here!") %>
<% provide(:description, "Where new radios are created by the user.") %>
<h1 class="pagetextheader">New mainsheet</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', mainsheets_path %></p>
