<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A new private message has arrived from: <%= @pm.from_user.vname %></h1>
    <p>
       Title: <%= @pm.title %>
    </p>
    <p>
       Description: <%= @pm.description %>
    </p>
    <p>
       In order to reply to this private message(pm) please click on your
       inbox to access your messages. Next click on the message to 
       view it and then finally click the preply link to create a new reply.
       Once you fill in the message and submit you replied to the pm.
    </p>
    <p>
      To view this private message on your account, just follow this link: <%= @url %>.
    </p>
    <p>Thank you for utilizing the communication room!</p>
  </body>
</html>
