<% provide(:title, "Blacklistedname: Edit your blacklistednames here!") %>
<% provide(:description, "Allows the admin to edit the names on the blacklist.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">Editing blacklistedname</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', blacklistednames_path %></p>
