<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @blacklistedname.name %>
</p>


<%= link_to 'Edit', edit_blacklistedname_path(@blacklistedname) %> |
<%= link_to 'Back', blacklistednames_path %>
