<% provide(:title, "Usertypes: Where the usertypes exist!") %>
<% provide(:description, "The different privilege levels for the admin to view.") %>
<% provide(:style, ".pagebox{text-align:center;}") %>
<h1 class="pageheader">Listing usertypes</h1>
<br>
<div class="pagebox"><%= paginate @usertypes %></div>
<br>
<div class="pagetext">
   <table>
      <tr>
         <th>User</th>
         <th>Privilege</th>
         <th></th>
      </tr>
      <% @usertypes.each do |usertype| %>
         <tr>
            <td><%= usertype.user.vname %>&nbsp;&nbsp;</td>
            <td><%= usertype.privilege %>&nbsp;&nbsp;</td>
            <td><%= button_to 'Edit', edit_usertype_path(usertype), method: :get %></td>
         </tr>
      <% end %>
   </table>
</div>
