<% provide(:title, "Subtopic is currently under repairs!") %>
<% provide(:keywords, "subtopic, under, repair") %>
<% provide(:description, "I am sorry to report that the subtopic section is currently down. I am working on repairs right now.") %>
<h1 class="pageheader">Subtopic Maintenance Page</h1>
<br>
<p class="pagetext">The subtopic pages are currently under repair due to a bug that was found. I appologize for the inconvenience and will have
these pages up and running within the next couple of hours. In the meantime feel free to explore the other features of my
website and be sure to have fun while you are at it. :)</p>
