<% provide(:title, "Pet: The place that holds all the evil monsters!") %>
<% provide(:description, "A place full of such dark and evil beings that may scare off most trainers, but those that are able will fight.") %>
<% provide(:style, ".pagebox{text-align:center;}") %>
<h1 class="pageheader">Monsters</h1>
<br>
<p class="pagetext">Some of my lovely audience members were wondering where do I fight those scary, dark, evil monsters? Well right here of course is where users who own pets get to challenge one of these gruesome fiends to a battle by selecting the radio button next to the monster name. Oooh those things give me the creeps. *shivers* What was that? *Audience member repeats the question* Ah yes one of the audience members was asking how do I change which one of my pets is battling a given monster, well the way to do that is by selecting from the drop down menu by clicking on the pet box and clicking the pet from that menu. However any pet that has fainted or is engaged in a battle is no longer available to battle a monster. *Another question* After selecting a pet and monster someone was wondering how do I engage the monster? Well you do that by clicking the fight monster button at the bottom and you will be redirected into the fight with that monster.</p>
<!--Checks to see if any pets are available -->
<br>
<% if @count > 0 %>
   <div class="pagebox"><%= paginate @pets %></div>
   <br>
   <%= render 'monsterlist' %>
<% end %>
