<% provide(:title, "Pet: Create new pets here!") %>
<% provide(:description, "Where new pets are born from the users wild imagination.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">Create a Pet</h1>
<%= render 'form' %>
<div class="pagetext"><%= link_to 'Back', pets_path %></div>
