<% provide(:title, "Item: Create new items here!") %>
<% provide(:description, "Where the admin creates the various items for the users to use.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New item</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', items_path %></p>
