<% provide(:title, "Subfolder: Edit your subfolder here!") %>
<% provide(:description, "Allows the users to edit their subfolder to the best of their abilities.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">Editing subfolder</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', mainfolder_subfolder_path(@mainfolder, @subfolder) %></p>
