<% provide(:title, "Chapter: Create new chapters here!") %>
<% provide(:description, "New chapter is uploaded only to the site when the chapter gets approved.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New chapter</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', sbook_book_path(@book.sbook, @book) %></p>
