<% provide(:title, "Pouch: The place that holds all the users pouches!") %>
<% provide(:description, "A listing of all the pouches created for the admin to view.") %>
<% provide(:style, ".pagebox{text-align:center;}") %>
<h1 class="pageheader">Listing pouches</h1>
<br>
<div class="pagebox"><%= paginate @pouches %></div>
<br>
<div class="pagetext">
   <table>
      <tr>
         <th>User</th>
         <th>Amount</th>
      </tr>
      <% @pouches.each do |pouch| %>
         <tr>
            <td><%= getType(pouch.user) %><%= link_to pouch.user.vname, user_path(pouch.user) %></td>
            <td><%= pouch.amount %></td>
         </tr>
      <% end %>
   </table>
</div>
