<% provide(:title, "Petowner: Edit your petowner here!") %>
<% provide(:description, "Allows the users to change their petowner to the best of their abilities.") %>
<h1 class="pagetextheader">Editing petowner</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_petowner_path(@petowner.user, @petowner) %></p>
