<% provide(:title, "Maintopic: Create new maintopics here!") %>
<% provide(:description, "Where new maintopics are born from the users wild imagination.") %>
<% provide(:style, ".pagetextheader{padding-left: 3%;padding-right: 3%;font-size: 24px;font-weight: bold;}") %>
<h1 class="pagetextheader">New maintopic</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', forum_tcontainer_path(@tcontainer.forum, @tcontainer) %></p>
