<% provide(:title, "Blog: Edit your blog here!") %>
<% provide(:description, "Allows the users to change their blog to the best of their abilities.") %>
<h1 class="pagetextheader">Editing blog</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_blog_path(@blog.user, @blog) %></p>
