<% provide(:title, "Blog: Create new blogs here!") %>
<% provide(:description, "Where new blogs are born from the users wild imagination.") %>
<h1 class="pagetextheader">New blog</h1>
<%= render 'form' %>
<p class="pagetext"><%= link_to 'Back', user_path(current_user) %></p>
